.layoutDesign h3{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.layoutDesign img{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.layoutDesign h5{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}