.religion {
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.relContent {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.r1 {
  height: 60vh;
  width: 25vw;

  background-color: var(--secondary-color-rgba);
  border: none;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;

  text-align: center;

  transition: background-color 1s;
}

.r2 {
  height: 60vh;
  width: 25vw;

  background-color: var(--secondary-color-rgba);
  border: none;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;

  text-align: center;

  transition: background-color 1s;
}

.r3 {
  height: 60vh;
  width: 25vw;

  background-color: var(--secondary-color-rgba);
  border: none;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;

  text-align: center;

  transition: background-color 1s;
}

.r1:hover {
  background-color: var(--accent-color);
}

.r2:hover {
  background-color: var(--accent-color);
}
.r3:hover {
  background-color: var(--accent-color);
}
