.learnButton {
  width: 8rem;
  height: 3rem;

  border: solid 2px var(--text-color);
  border-radius: 1rem;

  background-color: var(--tertiary-color);
  cursor: pointer;
  font-family: Maconda;
  font-size: 17px;
}
