.msgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 45px;
    font-size: 30px;
}

.msgHeader {
    font-size: 40px;
}

.msgDesc {
    margin-bottom: 30px;
}

.headingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 45px;
    margin-bottom: 45px;
}

.header {
    font-size: 30px;
    margin-top: 20px;
}

.contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentTxt {
    margin-left: 200px;
}

.title {
    font-size: 18px;
}

.desc {
    max-width: 650px;
}