@font-face {
  font-family: "Maconda";
  src: url("../app/fonts/Macondo/Macondo-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: var(--background-color);
  font-family: Maconda;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

:root {
  --text-color: #040300;
  --background-color: #f6e1c6;
  --primary-color: #4e1c0e;
  --secondary-color: #6d4728;
  --tertiary-color: #826349;
  --accent-color: #6d9eb6;

  --primary-color-rgba: rgba(78, 28, 14, 0.4);
  --secondary-color-rgba: rgba(109, 71, 40, 0.4);
  --accent-color-rgba: rgba(109, 158, 182, 0.4);
}
