.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;

  min-height: 90vh;

  padding: 2rem;
}

.gallery {
  width: 90vw;
  min-height: 70vh;
  padding: 2rem;
  /* height: 70vh; */

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  /* background-color: var(--primary-color-rgba); */
}

.sh1 {
  text-align: center;
}

.header {
  font-weight: bold;
  font-size: 18px;
}
