.paintings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.content {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
