.musicDesign h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicDesign h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.musicDesign div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.musicDesign img{
    width: 100px;
}

.musicDesign p{
    margin-top: 15px;
}

.musicDesign button{
    width: 8rem;
    height: 3rem;
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    background-color: var(--tertiary-color);
    cursor: pointer;
    font-family: Maconda;
    font-size: 17px;
    text-decoration: none;
}

.musicDesign button a{
    text-decoration: none;
    color: black;
}

.musicDesign section{
    margin: 0 auto;
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

