.musicDesign h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicDesign h5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicDesign div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.musicDesign img{
    width: 100px;
}

.musicDesign p{
    margin-top: 15px;
}

.musicDesign button{
    width: 20%;
    padding: 12px;
    border-radius: 6px;
}

.musicDesign section{
    margin: 0 auto;
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}